<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>BranchName</name>
          <description>Branch name in Arbor to test against</description>
          <defaultValue>master</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>TestBranchName</name>
          <description>Branch name in CloudCAFE and CloudRoast to use to test</description>
          <defaultValue>master</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>TestSuite</name>
          <description>Test suite file name which specifies which tests to run</description>
          <defaultValue>smoke</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.3.5">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>ssh://git@github.com/rackerlabs/solum-ansible.git</url>
        <credentialsId>priti</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
  pip install -r ~/ansible-requirements.txt
  . ~/.profile
  export ANSIBLE_FORCE_COLOR=true ANSIBLE_HOST_KEY_CHECKING=false \
  ANSIBLE_SSH_ARGS=&apos;-o UserKnownHostsFile=/dev/null -o ControlMaster=auto -o ControlPersist=60s -o PubkeyAuthentication=yes&apos;

  # update solum_override_attributes.json
  python ~/dev_setup_arbor_version.py roles/deploy/files/solum_override_attributes.json ${BranchName} git None

  ansible-playbook deploy.yml -i inventory/cloudcafe/ \
  --tags &quot;single-deployer,setup_chef,map-b-dns,operator-lp-blue,test-single-deployer,clean-up-single-deployer,priti-results&quot; \
  --private-key ~/.ssh/id_rsa \
  --extra-vars &quot;b_subdomain=dfw-${BranchName}-cloudcafe-api.cicd.rs-paas.com b_subdomain_record=dfw-${BranchName}-cloudcafe-api.cicd.rs-paas.com region=DFW group_environ=${BranchName}-cloudcafe branch=${TestBranchName} test_suite=${TestSuite}&quot;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <org.jenkinsci.plugins.ultimatecoverage.APICoveragePluginPublisher plugin="ultimate-coverage@1.0-SNAPSHOT">
      <templateFile>default.out</templateFile>
      <stepsFile>coverage.log</stepsFile>
    </org.jenkinsci.plugins.ultimatecoverage.APICoveragePluginPublisher>
  </publishers>
  <buildWrappers/>
</project>